body {
  padding: 0px;
  margin: 0px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 13px;
}
header {
  text-align: center;
}

header > img {
  width: 100%;
  height: 200px;
}

/* Add a  background color to the top navigation */
nav {
  background-color: rgb(209, 206, 206);
}

/* Style the links inside the navigation bar */
nav a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2em;
}

/* Change the colour of links on hover */
nav a:hover {
  color: #daab13;
}

.headshot {
  position: absolute;
  margin-left: 2%;
  margin-top: 6%;
}

.mypic {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

/*  page content */
.pagecontent {
  font-size: 1.5em;
  width: 70%;
  /* border: 3px solid #000000; */
  margin: auto;
}

/* end  page content */
.pagecontent {
  margin-top: 5%;
}
.pagecontent > article > p {
  padding: 2px;
  margin: 5%;
  color: #803376;
}
/** begin about  **/

.about {
  width: 70%;
  margin: auto;
  text-align: justify;
}

/** begin contact  **/

.contact {
  border: 1px solid rgb(109, 103, 103);
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 70%;
  margin: auto;

  font-size: 1em;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* end contact  */

footer {
  padding-top: 40px;
  text-align: center;
  font-size: 1em;
}
